.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.product-card {
  width: 150px;
  padding: 1rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.add-btn:hover {
  background-color: #388e3c;
}
