.notfound-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .notfound-container h1 {
    font-size: 6rem;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .notfound-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .home-link {
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
  }
  